.wrapper{
  display: flex;
  padding: 0 15px;
  margin-bottom: 20px;
}

.avatar{
 width: 100px;
 height: 100px;
 margin-right: 20px;
}

.name{
 font-size: 20px;
 margin-bottom: 10px;
}

.info{
  font-size: 16px;
}
.about{
  margin-bottom: 10px;
}
.jobBlock{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.jobDescr{
  margin-bottom: 15px;
}
.shadow{
  box-shadow: -5px 5px 5px #b0e0e6 ;
}

