.textarea{
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  vertical-align: top;
  resize: vertical;
  &::placeholder {
    color: rgba(0, 0, 0, 0.4)
  }
}
.submit{
  display: block;
  min-width: 100px;
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: powderblue;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  &:hover{
    background-color: rgba(#b0e0e6, 0.5);
  }
}