.wrapper {
  display: flex;
  padding: 5px;
  width: 500px;
}

.photo_info {
  margin-right: 20px;
  width: 80px;
}

.photo_img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.followBtn {
  position: relative;
  padding: 4px;
  width: 70px;
  height: 24px;
  background-color: aliceblue;
  color: #000;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid powderblue;
  cursor: pointer;
  letter-spacing: 0.03em;

  &:disabled {
    background-color: transparent;
  }
}


.isFollowed {
  background-color: powderblue;
  color: #000;
  cursor: pointer;
}

.info {
  padding: 20px;
  width: 70%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  border: 1px solid powderblue;
  border-radius: 15px;
}

.left {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 18px;
}

.status {
  color: rgba(0, 0, 0, 0.6);
}

.right {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -5px;
  left: 30%;
}

