.header {
  grid-area: header;
  background-color: powderblue;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 150px;
  height: 60px;
}

.loginBlock {
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.userName {
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #000;
}

.loginLink {
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}