
html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul,
ol,
button {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-size: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a{
    text-decoration: none;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}

.App {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.app-wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
